<h2>Register</h2>
<form [formGroup]="signUpForm">
  <div>
    <h3>Who Are You</h3>
    <div>
      <input
        type="radio"
        id="teamMember"
        name="userType"
        value="TeamMember"
        formControlName="userType"
      />
      <label for="teamMember">Associate Member</label>
    </div>
    <div>
      <input
        type="radio"
        id="regularUser"
        name="userType"
        value="User"
        formControlName="userType"
      />
      <label for="regularUser">Regular User</label>
    </div>
    @if (contorls.userType.value === "TeamMember") {
      <div>
        <label for="role">Choose Your Role In The Team</label>
        <br />
        <select name="role" id="role" formControlName="role">
          <option value="coach">Coach</option>
          <option value="manager">Manager</option>
          <option value="player">Player</option>
        </select>
      </div>
      @if (
        contorls.role.value === "coach" || contorls.role.value === "Manager"
      ) {
        <div>
          <div>
            <label for="firstName">firstname</label>
            <input type="text" placeholder="enter your name" />
          </div>
        </div>
      }
    }
    <button (click)="onClick()">click</button>
  </div>
</form>
