<section>
  <h2>Register</h2>
  <h3>Who Are You</h3>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="userTypeDiv">
      <div class="userType">
        <input
          type="radio"
          id="teamMember"
          name="userType"
          value="TeamMember"
          formControlName="userType"
        />
        <label for="teamMember">Associate Member</label>
      </div>
      <div class="userType">
        <input
          type="radio"
          id="regularUser"
          name="userType"
          value="regularUser"
          formControlName="userType"
        />
        <label for="regularUser">Regular User</label>
      </div>
    </div>

    @if (controls.userType.value === "TeamMember") {
      <div>
        <label for="role">Your Role In The Team</label>
        <!-- name ატრიბუტი არაა საჭირო თუ რეაქტიულ ფორმებს იყენებ -->
        <select name="role" id="role" formControlName="role">
          <option value="coach">Coach</option>
          <option value="manager">Manager</option>
          <option value="player">Player</option>
        </select>
      </div>
      @if (
        controls.role.value === "manager" || controls.role.value === "coach"
      ) {
        <div>
          <label for="team">Team</label>
          <input
            type="text"
            id="team"
            placeholder="e.g: nekoma (lowercase)"
            formControlName="team"
          />
          @if (controls.team.dirty && controls.team.errors?.["required"]) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="experience">Experience</label>
          <input
            type="text"
            id="experience"
            placeholder="e.g: 2 years"
            formControlName="experience"
          />
          @if (controls.experience.dirty && controls.experience.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="firstName">Firstname</label>
          <input
            type="text"
            id="firstName"
            placeholder="enter your name"
            formControlName="firstName"
          />
          @if (controls.firstName.dirty && controls.firstName.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="lastName">Lastname</label>
          <input
            type="text"
            id="lastName"
            placeholder="enter your lastname"
            formControlName="lastName"
          />
          @if (controls.lastName.dirty && controls.lastName.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="enter your email"
            formControlName="email"
          />
          @if (controls.email.dirty && controls.email.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="age">Age</label>
          <input
            type="text"
            id="age"
            placeholder="enter your age"
            formControlName="age"
          />
          @if (controls.age.dirty && controls.age.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" />
          @if (controls.password.dirty && controls.password.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            placeholder="repeat password"
            formControlName="confirmPassword"
          />
          @if (
            controls.confirmPassword.dirty &&
            signUpForm.errors?.["passwordsMatching"]
          ) {
            <p>{{ signUpForm.errors?.["passwordsMatching"] }}</p>
          }
        </div>
        <div>
          <label for="src">Profile Image</label>
          <input type="text" id="src" formControlName="src" />
        </div>
        <button type="submit" [disabled]="signUpForm.invalid">Register</button>
      }
      @if (controls.role.value === "player") {
        <div>
          <label for="team">Team</label>
          <input
            type="text"
            id="team"
            placeholder="e.g: nekoma (lowercase)"
            formControlName="team"
          />
          @if (controls.team.dirty && controls.team.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="position">Position</label>
          <input
            type="text"
            id="position"
            placeholder="e.g: setter"
            formControlName="position"
          />
          @if (controls.position.dirty && controls.position.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="experience">Experience</label>
          <input
            type="text"
            id="experience"
            placeholder="e.g: 2 years"
            formControlName="experience"
          />
          @if (
            controls.experience.dirty &&
            controls.experience.errors?.["required"]
          ) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="firstName">Firstname</label>
          <input
            type="text"
            id="firstName"
            placeholder="enter your name"
            formControlName="firstName"
          />
          @if (controls.firstName.dirty && controls.firstName.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="lastName">Lastname</label>
          <input
            type="text"
            id="lastName"
            placeholder="enter your lastname"
            formControlName="lastName"
          />
          @if (controls.lastName.dirty && controls.lastName.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="enter your email"
            formControlName="email"
          />
          @if (controls.email.dirty && controls.email.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="age">Age</label>
          <input
            type="text"
            id="age"
            placeholder="enter your age"
            formControlName="age"
          />
          @if (controls.age.dirty && controls.age.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" />
          @if (controls.password.dirty && controls.password.errors) {
            <h2 style="color: red; margin: 0">!</h2>
          }
        </div>
        <div>
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            placeholder="repeat password"
            formControlName="confirmPassword"
          />
          @if (
            controls.confirmPassword.dirty &&
            signUpForm.errors?.["passwordsMatching"]
          ) {
            <p>{{ signUpForm.errors?.["passwordsMatching"] }}</p>
          }
        </div>
        <div>
          <label for="src">Profile Image</label>
          <input type="text" id="src" formControlName="src" />
        </div>
        <button type="submit" [disabled]="signUpForm.invalid">Register</button>
      }
    }
    @if (controls.userType.value === "regularUser") {
      <div>
        <label for="firstName">Firstname</label>
        <input
          type="text"
          id="firstName"
          placeholder="enter your name"
          formControlName="firstName"
        />
        @if (
          controls.firstName.dirty && controls.firstName.errors?.["required"]
        ) {
          <h2 style="color: red; margin: 0">!</h2>
        }
      </div>
      <div>
        <label for="lastName">Lastname</label>
        <input
          type="text"
          id="lastName"
          placeholder="enter your lastname"
          formControlName="lastName"
        />
        @if (controls.lastName.dirty && controls.lastName.errors) {
          <h2 style="color: red; margin: 0">!</h2>
        }
      </div>
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="enter your email"
          formControlName="email"
        />
        @if (controls.email.dirty && controls.email.errors?.["required"]) {
          <h2 style="color: red; margin: 0">!</h2>
        }
      </div>
      <div>
        <label for="age">Age</label>
        <input
          type="text"
          id="age"
          placeholder="enter your age"
          formControlName="age"
        />
        @if (controls.age.dirty && controls.age.errors?.["required"]) {
          <h2 style="color: red; margin: 0">!</h2>
        }
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
        @if (
          controls.password.dirty && controls.password.errors?.["required"]
        ) {
          <h2 style="color: red; margin: 0">!</h2>
        }
      </div>
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          placeholder="repeat password"
          formControlName="confirmPassword"
        />
        @if (
          controls.confirmPassword.dirty &&
          controls.confirmPassword.errors?.["required"]
        ) {
          <h2 style="color: red; margin: 0">!</h2>
        }
      </div>
      <div>
        <label for="src">Profile Image</label>
        <input type="text" id="src" formControlName="src" />
      </div>
      <button type="submit" [disabled]="signUpForm.invalid">Register</button>
    }
  </form>
</section>
