section {
  background-color: rgb(49, 49, 49);
  color: white;
  padding: 7rem 0 0 0;
  text-align: center;
  min-height: 100vh;
}
form {
  padding: 0 1.5rem;
}
form div {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
form div.userTypeDiv {
  display: grid;
  justify-items: start;
  justify-content: space-around;
}
form div.userTypeDiv div {
  margin: 0;
  margin-top: 15px;
}
input::placeholder {
  font-style: italic;
}
input,
select {
  padding: 6px 0 6px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}
button {
  max-width: fit-content;
  margin: auto;
  padding: 10px 15px;
  color: white;
  background-color: rgb(202, 202, 202);
  border: none;
  border-bottom: 1.4px solid red;
  cursor: pointer;
}
