section{
  padding: 5rem 1rem 1rem 1rem;
}
img{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px black;
}
h4{
  text-align: right;
  font-weight: 300;
  text-transform: capitalize;

  /* margin: 1rem; */
}
span{
  text-transform: capitalize;
  font-style: italic;
  font-weight: 500;
}
h1{
  text-align: center;
  text-transform: capitalize;
}
p{
text-align: justify;
}
@media (min-width: 400px){
  section{
    margin: 2rem;
  }
  
}
@media (min-width: 700px){
  section{
    max-width: 1000px;
    margin: auto;
   min-height: 80vh;
  }
   img{
      float: left;
      max-width: 45%;
      margin:0 2rem 1rem 0;
    }
}
