<section>
  <div>
    @if (user && user.userType === "regularUser") {
      <ul>
        <li (click)="show = 'news'">Your News</li>
        <li (click)="show = 'favourites'">Favourites</li>
        <li (click)="show = 'tickets'">Tickets</li>
        <li (click)="show = 'bio'">Bio</li>
      </ul>
      @if (show === "bio") {
        <div class="bio">
          <img [src]="user.src" alt="" />
          <div>
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <p>
              contact: <span>{{ user.email }}</span>
            </p>
            <p>Age: {{ user.age }}</p>
          </div>
        </div>
        <button (click)="deleteUser()">Deactivate Account</button>
      } @else if (show === "favourites") {
        <div class="card-container">
          @for (news of faveNews; track news.title) {
            <div class="card favourites">
              <img [src]="news.src" alt="" />
              <span>
                <h4>
                  {{ news.title }}
                </h4>
                <h5 class="about">
                  tags:
                  @for (item of news.about; track $index) {
                    <span>{{ item }}, </span>
                  }
                </h5>
                <p>{{ news.text }}</p>
              </span>
            </div>
          }
        </div>
      } @else if (show === "tickets") {
        <div>bye</div>
      } @else if (show === "news") {
        <h2>articles you created</h2>
        <div class="card-container">
          @for (news of allNews; track news.title) {
            <div class="card news">
              <img [src]="news.src" alt="" />
              <h2>{{ news.title }}</h2>
              <h4>tags: {{ news.about }}</h4>
              <p>{{ news.text }}</p>
              <i class="bi bi-trash" (click)="deleteNews(news.id!)"></i>
            </div>
          } @empty {
            <p>you haven't written any news yet</p>
          }
        </div>

        <button (click)="togglebutton()" (click)="addNewsForm.reset()">
          Add News Now
        </button>

        <form
          [style.display]="addButton ? 'block' : 'none'"
          action=""
          [formGroup]="addNewsForm"
          (ngSubmit)="addNews()"
        >
          <div>
            <label for="title">Title</label>
            <input
              type="text"
              placeholder="news title here"
              id="title"
              formControlName="title"
            />
            @if (controls.title.dirty && controls.title.errors) {
              <span class="warning">Title must be longer than 7 letters</span>
            }
          </div>
          <div>
            <label for="about">Tags</label>
            <input
              type="text"
              placeholder="e.g: seirin,too"
              id="about"
              formControlName="about"
            />
          </div>
          <div>
            <label for="text">Text</label>
            <textarea name="text" id="text" formControlName="text"></textarea>
            @if (controls.text.dirty && controls.text.errors) {
              <span class="warning">Title must be longer than 50 letters</span>
            }
          </div>
          <div>
            <label for="src">Cover Image</label>
            <input
              id="src"
              type="text"
              placeholder="link"
              formControlName="src"
            />
            @if (controls.src.dirty && controls.src.errors) {
              <span class="warning">Title must be longer than 10 letters</span>
            }
          </div>
          <div>
            <label for="date">Date</label>
            <input type="date" id="date" formControlName="date" />
            @if (controls.date.dirty && controls.date.errors) {
              <p>bbg fill in the field</p>
            }
          </div>
          <button type="submit" [disabled]="addNewsForm.invalid">
            add news
          </button>
        </form>
      }
    } @else if (
      user && user.userType === "TeamMember" && user.role === "coach"
    ) {
      <ul>
        <li (click)="show = 'addPlayer'">Add Player</li>
        <li (click)="show = 'addManager'">Add Manager</li>
        <li (click)="show = 'manageTeam'">Manage Team</li>
        <li (click)="show = 'bio'">Bio</li>
      </ul>
      @if (show === "bio") {
        <div class="bio">
          <img src="{{ user.src }}" alt="" />
          <div>
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <p>
              contact: <span>{{ user.email }}</span>
            </p>
            <p>{{ user.position }}</p>
            <p>Role: {{ user.role }}</p>
            <p>Age: {{ user.age }}</p>
            <p>Team: {{ user.team }}</p>
            <p>Experience: {{ user.experience }}</p>
          </div>
        </div>
        <button (click)="deleteUser()">Deactivate Account</button>
      } @else if (show === "addPlayer") {
        <form action="" [formGroup]="addPlayerForm" (ngSubmit)="addNewPlayer()">
          <div>
            <label for="team">Team</label>
            <input
              type="text"
              id="team"
              placeholder="e.g: Nekoma"
              formControlName="team"
            />
            @if (addplayerControl.team.dirty && addplayerControl.team.errors) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="position">Position</label>
            <input
              type="text"
              id="position"
              placeholder="e.g: setter"
              formControlName="position"
            />
            @if (
              addplayerControl.position.dirty &&
              addplayerControl.position.errors
            ) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="experience">Experience</label>
            <input
              type="text"
              id="experience"
              placeholder="e.g: 2 years"
              formControlName="experience"
            />
            @if (
              addplayerControl.experience.dirty &&
              addplayerControl.experience.errors
            ) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="firstName">Firstname</label>
            <input
              type="text"
              id="firstName"
              placeholder="enter your name"
              formControlName="firstName"
            />
            @if (
              addplayerControl.firstName.dirty &&
              addplayerControl.firstName.errors
            ) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="lastName">Lastname</label>
            <input
              type="text"
              id="lastName"
              placeholder="enter your lastname"
              formControlName="lastName"
            />
            @if (
              addplayerControl.lastName.dirty &&
              addplayerControl.lastName.errors
            ) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              placeholder="enter your email"
              formControlName="email"
            />
            @if (
              addplayerControl.email.dirty && addplayerControl.email.errors
            ) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="age">Age</label>
            <input
              type="text"
              id="age"
              placeholder="enter your age"
              formControlName="age"
            />
            @if (addplayerControl.age.dirty && addplayerControl.age.errors) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" />
            @if (
              addplayerControl.password.dirty &&
              addplayerControl.password.errors
            ) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              id="confirmPassword"
              placeholder="repeat password"
              formControlName="confirmPassword"
            />
            @if (
              addplayerControl.confirmPassword.dirty &&
              addPlayerForm.errors?.["passwordsMatching"]
            ) {
              <p>{{ addPlayerForm.errors?.["passwordsMatching"] }}</p>
            }
          </div>
          <div>
            <label for="src">Profile Image</label>
            <input type="text" id="src" formControlName="src" />
          </div>
          <button type="submit" [disabled]="addPlayerForm.invalid">
            Register
          </button>
        </form>
      } @else if (show === "addManager") {
        <form action="" [formGroup]="addManagerForm" (ngSubmit)="addManager()">
          <div>
            <label for="team">Team</label>
            <input
              type="text"
              id="team"
              placeholder="e.g: Nekoma"
              formControlName="team"
            />
            @if (
              addManagerControl.team.dirty && addManagerControl.team.errors
            ) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="experience">Experience</label>
            <input
              type="text"
              id="experience"
              placeholder="e.g: 2 years"
              formControlName="experience"
            />
            @if (
              addManagerControl.experience.dirty &&
              addManagerControl.experience.errors?.["required"]
            ) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="firstName">Firstname</label>
            <input
              type="text"
              id="firstName"
              placeholder="enter your name"
              formControlName="firstName"
            />
            @if (
              addManagerControl.firstName.dirty &&
              addManagerControl.firstName.errors
            ) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="lastName">Lastname</label>
            <input
              type="text"
              id="lastName"
              placeholder="enter your lastname"
              formControlName="lastName"
            />
            @if (
              addManagerControl.lastName.dirty &&
              addManagerControl.lastName.errors
            ) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              placeholder="enter your email"
              formControlName="email"
            />
            @if (
              addManagerControl.email.dirty && addManagerControl.email.errors
            ) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="age">Age</label>
            <input
              type="text"
              id="age"
              placeholder="enter your age"
              formControlName="age"
            />
            @if (addManagerControl.age.dirty && addManagerControl.age.errors) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" />
            @if (
              addManagerControl.password.dirty &&
              addManagerControl.password.errors
            ) {
              <h2 style="color: red; margin: 0">!</h2>
            }
          </div>
          <div>
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              id="confirmPassword"
              placeholder="repeat password"
              formControlName="confirmPassword"
            />
            @if (
              addManagerControl.confirmPassword.dirty &&
              addManagerForm.errors?.["passwordsMatching"]
            ) {
              <p>{{ addManagerForm.errors?.["passwordsMatching"] }}</p>
            }
          </div>
          <div>
            <label for="src">Profile Image</label>
            <input type="text" id="src" formControlName="src" />
          </div>
          <button
            type="submit"
            [disabled]="addManagerForm.invalid"
            (click)="addManagerForm.reset()"
          >
            Register
          </button>
        </form>
      } @else {
        <div class="member-container">
          @for (user of UsersByTeam; track $index) {
            <div class="member-card">
              <img [src]="user.src" alt="" />
              <div>
                <p>{{ user.firstName }} {{ user.lastName }}</p>
                <p>Role: {{ user.role }}</p>
                @if (user.position!.length > 1) {
                  <p>Position: {{ user.position }}</p>
                }
                <button><i class="bi bi-person-dash-fill"></i></button>
              </div>
            </div>
          } @empty {
            <p>
              Please refresh page. if nothing comes up, Teammates aren't added
              yet
            </p>
          }
        </div>
      }
    }
    @if (user && user.userType === "TeamMember" && user.role === "manager") {
      <ul>
        <li (click)="show = 'games'">Plan Game</li>
        <li (click)="show = 'announce'">Make Announcement</li>
        <li (click)="show = 'manageTeam'">Manage Team</li>
        <li (click)="show = 'bio'">Bio</li>
      </ul>
      @if (show === "bio") {
        <div class="bio">
          <img src="{{ user.src }}" alt="" />
          <div>
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <p>
              contact: <span>{{ user.email }}</span>
            </p>
            <p>{{ user.position }}</p>
            <p>Role: {{ user.role }}</p>
            <p>Age: {{ user.age }}</p>
            <p>Team: {{ user.team }}</p>
            <p>Experience: {{ user.experience }}</p>
          </div>
        </div>

        <button (click)="deleteUser()">Deactivate Account</button>
      } @else if (show === "games") {
        <form action="" [formGroup]="addGamesForm" (ngSubmit)="addNewGames()">
          <div>
            <label for="team1">Your Team</label>
            <input
              type="text"
              id="team1"
              placeholder="e.g: nekoma"
              formControlName="team1"
            />
            @if (addGamesControl.team1.dirty && addGamesControl.team1.errors) {
              <div>!</div>
            }
          </div>
          <div>
            <label for="src1">Your Team's Logo</label>
            <input type="text" id="src1" formControlName="src1" />
            @if (addGamesControl.src1.dirty && addGamesControl.src1.errors) {
              <div>!</div>
            }
          </div>
          <div>
            <label for="team2">Opponent Team</label>
            <input
              type="text"
              placeholder="e.g: nekoma"
              id="team2"
              formControlName="team2"
            />
            @if (addGamesControl.team2.dirty && addGamesControl.team2.errors) {
              <div>!</div>
            }
          </div>
          <div>
            <label for="src2">Opponent Team's Logo</label>
            <input type="text" id="src2" formControlName="src2" />
            @if (addGamesControl.src2.dirty && addGamesControl.src2.errors) {
              <span>!</span>
            }
          </div>
          <div>
            <label for="date">Game Date</label>
            <input type="date" id="date" formControlName="date" />
            @if (addGamesControl.date.dirty && addGamesControl.date.errors) {
              <div>!</div>
            }
          </div>
          <div>
            <label for="address">Stadium</label>
            <input
              type="text"
              id="address"
              placeholder="e.g: Yoyogi National Stadium"
              formControlName="address"
            />
            @if (
              addGamesControl.address.dirty && addGamesControl.address.errors
            ) {
              <div>!</div>
            }
          </div>
          <button type="submit" [disabled]="addGamesForm.invalid">
            Add Game
          </button>
        </form>
      } @else if (show === "announce") {
        <div class="announce">
          <div class="announcements-card"></div>
          @for (an of ann; track an.id) {
            <div class="announcement">
              <h3>Announcement for: {{ an.subject }}</h3>
              <p class="{{ an.importance }}">importance: {{ an.importance }}</p>
              <p class="note">
                Manager's note: <br /><span> "{{ an.note }}" </span>
              </p>
              <p class="line">Place: {{ an.place }}</p>
              <p>Time: {{ an.date.toDate() | date: "mediumTime" }}</p>
              <p class="date">
                Date: {{ an.date.toDate() | date: "fullDate" }}
                <i class="bi bi-trash" (click)="deleteAnnouncement(an.id)"></i>
              </p>
            </div>
          }
          <form
            action=""
            [formGroup]="addAnnouncementForm"
            (ngSubmit)="addAnnouncement()"
          >
            <div>
              <label for="importance">Importance</label>
              <select
                name="importance"
                id="importance"
                formControlName="importance"
              >
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
              </select>
            </div>
            <div>
              <label for="subject">Subject</label>
              <input type="text" id="subject" formControlName="subject" />
            </div>
            <div>
              <label for="team">Team</label>
              <input type="text" id="team" formControlName="team" />
            </div>
            <div>
              <label for="place">Place</label>
              <input type="text" id="place" formControlName="place" />
            </div>
            <div>
              <label for="date">Date</label>
              <input type="datetime-local" id="date" formControlName="date" />
            </div>
            <div>
              <label for="note">Leave Note</label>
              <input
                type="note"
                id="note"
                formControlName="note"
                placeholder="e.g: please be on time"
              />
            </div>

            <button type="submit" [disabled]="addAnnouncementForm.invalid">
              Add Announcement
            </button>
          </form>
        </div>
      } @else if (show === "manageTeam") {
        <div class="member-container">
          @for (user of UsersByTeam; track $index) {
            <div class="member-card">
              <img [src]="user.src" alt="" />
              <div>
                <p>{{ user.firstName }} {{ user.lastName }}</p>
                <p>Role: {{ user.role }}</p>
                @if (user.position!.length > 1) {
                  <p>Position: {{ user.position }}</p>
                }
                <button (click)="deleteUsers(user.id)">
                  <i class="bi bi-person-dash-fill"></i>
                </button>
              </div>
            </div>
          } @empty {
            <p>
              Please refresh page. if nothing comes up, Teammates aren't added
              yet
            </p>
          }
        </div>
      }
    } @else if (
      user && user.userType === "TeamMember" && user.role === "player"
    ) {
      <ul>
        <li (click)="show = 'announce'">Announcements</li>
        <li (click)="show = 'games'">Future Games</li>
        <li (click)="show = 'manageTeam'">Your Team</li>
        <li (click)="show = 'bio'">Bio</li>
      </ul>
      @if (show === "bio") {
        <div class="bio">
          <img [src]="user.src" alt="" />
          <div>
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <p>
              contact: <span>{{ user.email }}</span>
            </p>
            <p>Role: {{ user.role }}</p>
            <p>Team: {{ user.team }}</p>
            <p>Position: {{ user.position }}</p>
            <p>Experience: {{ user.experience }}</p>
            <p>Age: {{ user.age }}</p>
            <button (click)="deleteUser()">Deactivate Account</button>
          </div>
        </div>
      } @else if (show === "announce") {
        @for (an of ann; track an.id) {
          <div class="announcement">
            <h3>Announcement for: {{ an.subject }}</h3>
            <p class="{{ an.importance }}">importance: {{ an.importance }}</p>
            <p class="note">
              Manager's note: <br /><span> "{{ an.note }}" </span>
            </p>
            <p class="line">Place: {{ an.place }}</p>
            <p>Time: {{ an.date.toDate() | date: "mediumTime" }}</p>
            <p>Date: {{ an.date.toDate() | date: "fullDate" }}</p>
          </div>
        }
      } @else if (show === "manageTeam") {
        <div class="member-container">
          @for (user of UsersByTeam; track $index) {
            <div class="member-card">
              <img [src]="user.src" alt="" />
              <div>
                <h2>{{ user.firstName }} {{ user.lastName }}</h2>
                <p>Role: {{ user.role }}</p>
                @if (user.position!.length > 1) {
                  <p>Position: {{ user.position }}</p>
                }
              </div>
            </div>
          } @empty {
            <p>
              Please refresh page. if nothing comes up, Teammates aren't added
              yet
            </p>
          }
        </div>
      }
    }
  </div>
</section>
