.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* gap: 1rem; */
  /* border-top: 1px solid red; */
}
h4 {
  margin: 2px;
}
h4,
p {
  font-size: medium;
  text-transform: capitalize;
}
.card {
  display: flex;
  max-height: fit-content;
  min-height: 25vh;
  overflow: hidden;
  gap: 0.5rem;
/* max-width: fit-content; */
  background-color: rgb(228, 228, 228);
  border: 1.5px solid rgb(228, 228, 228);
  border-bottom: 1.5px solid red;
  padding: 1rem;
}
img {
  width: 50%;
  min-height: 25vh;
  box-shadow: 0 0 1px 1px rgb(255, 60, 60);
}
h5 {
  margin: 0;
  font-weight: 500;
  text-transform: capitalize;
}
h5 span:hover {
  text-decoration: underline;
  cursor: pointer;
}
h5 span {
  font-style: italic;
  color: gray;
}
p{
  border-right: 1px solid gray;
  max-width: fit-content;
  padding:0 10px;
  
}
a {
  color: rgb(28, 28, 28);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
i {
  color: red;
  font-size: medium;
}
div.search-input {
  display: flex;
  max-width: fit-content;
  margin: 1rem auto 1rem auto;
  gap: 0;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}
div.search-input >input {
  padding: 5px 10px;
  border: none;
  background-color: rgb(235, 235, 235);
  outline: none;
}
button {
  background-color: red;
  border: none;
  color: white;
  border-right: 1px solid rgb(235, 235, 235);
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
}
.card:hover {
  animation: border 1.3s infinite ease-in-out;
}
form{
  display: flex;
  align-items: center;
  max-width: fit-content;
}
.sort-div{
  display: flex;
  padding-left: 5px;
}
@keyframes border {

  10% {
    border-left: 1.5px solid red;
  }
  50% {
    border-top: 1.5px solid red;
  }
  100% {
    border-right: 1.5px solid red;
  }

}
@media   (min-width: 850px){
    h4{
    font-size:1.3rem;
  }
}
@media (min-width: 550px) {
  div.search-input input {
    min-width: 250px;
    padding: 10px 15px;
  }
  .card-container {
    gap: 1rem;
  }
  .sort-div input[type='radio']{
  width: 1rem;
  }

  h5{
    font-size: 1rem;
  }
}
