div {
  display: grid;
  gap: 1rem;
}
h4 {
  margin: 2px;
}
h4,
p {
  font-size: small;
}

.card {
  display: flex;
  max-height: 25vh;
  overflow: hidden;
  gap: 0.5rem;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
}
img {
  max-width: 40%;
  max-height: 25vh;
  float: left;
}

h5 {
  margin: 0;
  font-weight: 500;
}
h5 span:hover {
  text-decoration: underline;
  cursor: pointer;
}
h5 span {
  font-style: italic;
  color: gray;
}
p {
  margin: 1px 0 0 0;
  font-size: 12px;
}
a {
  color: rgb(28, 28, 28);
}
i {
  color: red;
  font-size: medium;
}
