section{
  min-height: 90vh;
}
h1 {
  text-align: center;
}
h3 {
  margin: 4px 0;
}
.card-container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin: 1rem auto;
}
.card {
  background-color: rgb(235, 235, 235);
  padding: 1rem;
  border: 1px solid red;
  border-radius: 5px;
}
img {
  width: 100%;
  border-radius: 50%;
}
.titles {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid red;
}
.team {
  display: grid;
  justify-items: center;
}
div.search {
  display: flex;
  margin: auto;
  margin-top: 3rem;
  justify-content: center;
  gap: 0;
}
input {
  padding: 10px;
  border: none;
  border-bottom: 1.5px solid red;
  background-color: rgb(235, 235, 235);
  outline: none;
}
button {
  background-color: red;
  border: none;
  color: white;
}
@media (min-width: 900px) {
  section {
    padding: 1rem 3rem;
  }
}
